/* Global Font Settings */
:root {
  font-family: 'Lato', sans-serif; /* Use Lato as the global font */
  font-weight: 300; /* Default to Light weight */
  font-feature-settings: 'liga' 1, 'calt' 1; /* Optional: Ligatures for Chrome */
}
html {
  scroll-behavior: smooth; /* Optional: Enable smooth scrolling */
}

body {
  margin: 0; /* Remove default margin */
  padding: 0;
  font-family: 'Inter', sans-serif; /* Apply Inter to the body */
  line-height: 1.6;
  font-size: 16px; /* Set a base font size */
}
