/* Header container */
.header {
  background-color: #000000; /* Black background */
  color: #ffffff; /* White text color */
  padding: 10px 50px; /* Reduced padding to fit the content */
  display: flex;
  justify-content: space-between; /* Space between logo and nav */
  align-items: center; /* Vertically center content */
  border-bottom: 1px solid #333;
  position: fixed; /* Fix the header at the top */
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  box-sizing: border-box; /* Include padding in total width */
  z-index: 1000; /* Ensure it's above other elements */
}

/* Logo and Name */
.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo-container span {
  font-size: 14px;
  letter-spacing: 1.2px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
}

/* Navigation links */
.header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px; /* Spacing between links */
}

.header nav ul li {
  margin-right: 0; /* Remove any right margin */
}

.header nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.2px;
  word-spacing: 5px;
  font-weight: 300;
  transition: color 0.3s ease;
}

.header nav ul li a:hover {
  color: #45a29e;
}